<div>
  <h3>Gallery (with React!)</h3>
  <p>React is loaded as a script tag.</p>

  <!-- We will put our React component inside this div. -->
  <div id="gallery_container"></div>

  <!-- Load React. -->
  <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
  <script src="https://unpkg.com/react@16/umd/react.production.min.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js" crossorigin></script>
  <!-- supposedly slow, this calls babel to compile jsx in-browser -->
  <script src="https://unpkg.com/babel-standalone@6/babel.min.js" crossorigin></script>

  <!-- Load our React component. -->
  <script src="{{ site.baseurl }}/assets/scripts/gallery.js" type="text/babel"></script>
</div>
