html, body {
  margin: 0px;
  height: 100vh;
}

.stepSequencer {
  display: block;
  background-color: #3b60a9;
  border: 4px black;
  height: 100vh;
}

.sequencerControls {
  display: grid;
  grid-template-columns: auto 10% 10%;
  grid-template-rows: auto;
  border: 1px solid black;
  border-radius: 4px;
  padding: 15px;
}

.playButton {
  display: inline-block;
  justify-self: end;
  border-radius: 28px;
  color: #ffffff;
  background: #d9ad34;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.clearAll {
  display: inline-block;
  justify-self: end;
  border-radius: 28px;
  color: #ffffff;
  background: #d9ad34;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.tracks {
  display: block;
}

.track {
  display: grid;
  grid-template-columns: [icp-start] minmax(0, 1fr) [icp-end] 25px [pads-start] minmax(0, 5fr) [pads-end];
  grid-template-rows: auto;
}

.track:hover {
  border: 1px solid black;
  border-radius: 4px;
}

.controlPanel {
  grid-column: icp-start / icp-end;

  display: grid;
  grid-template-columns: [panel-start rm-start] 15px [rm-end label-start] minmax(0, 1fr) [label-end play-start] auto [play-end panel-end];
  grid-template-rows: [header-start] minmax(auto, 1fr) [header-end parameters-start] minmax(0px, 1fr) [parameters-end];
  justify-items: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 2px;
}

.removeInstrumentButton {
  grid-column: rm-start / rm-end;
  grid-row: header-start / header-end;

  display: inline;
  padding: 5px;
  background-color: transparent;
  border: none;
  border-radius: 2px;
}

.removeInstrumentButton:hover {
  border: 1px solid yellow;
}

.instrumentLabel {
  grid-column: label-start / label-end;
  grid-row: header-start / header-end;

}

.instrumentLabel:hover {
  border: 1px solid black;
}

.instrumentPlayButton {
  display: inline;
  grid-column: play-start / play-end;
  grid-row: header-start / header-end;
  margin: 10px;
}

.slider {
  display: inline-block;
}

.slider:hover {
  border: 1px solid black;
  border-radius: 2px;
}

.slider.instrumentParameter {
  grid-column: panel-start / panel-end;
  grid-row: parameters-start / parameters-end;
}

.pads {
  grid-column: pads-start / pads-end;

  display: grid;
  grid-template-rows: auto;
  column-gap: 6px;
  justify-self: start;
}

.bar {
  display: grid;
  grid-template-rows: auto;
  column-gap: 4px;
}

.beat > button:first-child {
  border-color: orange;
}

.beat {
  display: grid;
  grid-template-rows: auto;
  column-gap: 2px;
}

.pad {
  display: inline-block;
  border-radius: 2px;
  padding: 15px 15px;
  cursor: pointer;
  border: 1px solid gray;
}

.pad.on {
  background-color: #e5f523;
}

.pad.off {
  background-color: #829bb1;
}

.pad.active {
  border: 2px solid yellow;
}
