html, body {
  margin: 0px;
  height: 100vh;
}

.stepSequencer {
  display: block;
  position: absolute;
  background-color: #3b60a9;
  border: 4px black;
  height: 100vh;
  width: 100vw;
}

.sequencerControls {
  display: grid;
  grid-template-columns: auto 10% 10%;
  grid-template-rows: auto;
  border: 1px solid black;
  border-radius: 4px;
  padding: 15px;
}

.playButton {
  display: inline-block;
  justify-self: end;
  border-radius: 28px;
  color: #ffffff;
  background: #d9ad34;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.clearAll {
  display: inline-block;
  justify-self: end;
  border-radius: 28px;
  color: #ffffff;
  background: #d9ad34;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.tracks {
  display: block;
}

.track {
  display: grid;
  grid-template-columns: [icp-start] minmax(0, 1fr) [icp-end] 25px [pads-start] minmax(0, 5fr) [pads-end];
  grid-template-rows: auto;
}

.fullControlPanel {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(10px, auto) minmax(10px, 1fr);
  grid-template-areas:
    "label"
    "parameters";

  z-index: 42;
  position: relative;
  top: 20vh;
  left: 20vw;
  width: 40vw;
  height: 40vh;
  background-color: orange;
  border: 1px solid black;
  border-radius: 4px;
}

.quickControlPanel {
  grid-column: icp-start / icp-end;

  display: grid;
  grid-template-columns: 15px minmax(0, 1fr) auto;
  grid-template-rows: minmax(10px, auto) minmax(0px, 1fr);
  grid-template-areas:
    "rm label play"
    "qc qc    qc";
  justify-items: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 2px;
}

.removeInstrumentButton {
  grid-area: rm;

  display: inline;
  padding: 5px;
  background-color: transparent;
  border: none;
  border-radius: 2px;
}

.instrumentLabel {
  grid-area: label;
}

.instrumentPlayButton {
  display: inline;
  grid-area: play;
  margin: 3px 10px;
}

.quickControls {
  display: inline;
  grid-area: qc;
}

.quickControlButton {
  display: inline;
  margin: 3px 5px;
}

.slider {
  display: inline-block;
}

.slider.instrumentParameter {
}

.pads {
  grid-column: pads-start / pads-end;

  display: grid;
  grid-template-rows: auto;
  column-gap: 6px;
  justify-self: start;
}

.bar {
  display: grid;
  grid-template-rows: auto;
  column-gap: 4px;
}

.beat > button:first-child {
  border-color: orange;
}

.beat {
  display: grid;
  grid-template-rows: auto;
  column-gap: 2px;
}

.pad {
  display: inline-block;
  border-radius: 2px;
  padding: 15px 15px;
  margin: 0px;
  cursor: pointer;
  border: 1px solid gray;
}

.pad.on {
  background-color: #e5f523;
}

.pad.off {
  background-color: #829bb1;
}

.pad.active {
  border: 2px solid yellow;
}
