.instrumentSelect {
  border: 1px solid black;
  margin: 15px;

  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  grid-template-areas:
    "available staged"
}

.availableInstruments {
  grid-area: available;
}

.sequencerInstruments {
  grid-area: staged;
}

.instrumentSelectColumnTitle {
  align-self: center;
  border-bottom: 1px solid black;
}

.commitButton {
  grid-area: ci;
  padding: 5px;
  margin: 5px;
  width: max-content;
}
