.instrumentSelect {
  border: 1px solid black;
  margin: 15px;

  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  grid-template-areas:
    "available staged"
}

.availableInstruments {
  grid-area: available;
  border: 1px solid black;
  margin: 2%;
}

.sequencerInstruments {
  grid-area: staged;
  border: 1px solid black;
  margin: 2%;
}

.instrumentListTitle {
  margin: 0px auto;
}

.instrumentListItem {
  margin-right: 10%;
}

.instrumentListItem:hover {
  border: 1px solid black;
}

.instrumentListItem#button {
  width: fit-content;
}

.instrumentListItem.available {
  display: grid;
  grid-template-columns: minmax(10px, auto) 1fr minmax(10px, min-content) minmax(10px, min-content);
  grid-template-rows: auto;
  grid-template-areas: "label . stage delete";
}

.instrumentListItem.sequencer {
  display: grid;
  grid-template-columns: minmax(10px, auto) 1fr minmax(10px, min-content);
  grid-template-rows: auto;
  grid-template-areas: "label . unstage";
}


